{% extends 'base.html.twig' %}

{% block title %}ClientActionLog{% endblock %}

{% block body %}
    <h1>ClientActionLog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client_action_log.id }}</td>
            </tr>
            <tr>
                <th>PerformedAt</th>
                <td>{{ client_action_log.performedAt ? client_action_log.performedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PerformedBy</th>
                <td>{{ client_action_log.performedBy }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ client_action_log.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_client_action_log_index') }}">back to list</a>

    <a href="{{ path('app_client_action_log_edit', {'id': client_action_log.id}) }}">edit</a>

    {{ include('client_action_log/_delete_form.html.twig') }}
{% endblock %}
